upstream app_server_djangoapp {
  server localhost:8000 fail_timeout=0;
}

server {
  server_name {{root_domain_name}};
  rewrite ^(.*) https://www.{{root_domain_name}}$1 permanent;
}

server {
  listen 80;
  server_name www.{{root_domain_name}};
  rewrite ^(.*) https://$server_name$1 permanent;
}

server {
  listen       443;
  server_name  www.{{root_domain_name}};

  resolver 8.8.8.8 8.8.4.4 [2001:4860:4860::8888] [2001:4860:4860::8844];

  ssl                  on;
  ssl_certificate      /etc/letsencrypt/live/danpalmer/cert.pem;
  ssl_certificate_key  /etc/letsencrypt/live/danpalmer/privkey.pem;

  ssl_session_timeout 5m;

  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate /etc/letsencrypt/live/danpalmer/fullchain.pem;

  ssl_protocols TLSv1.2;
  ssl_ciphers  ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS;
  ssl_prefer_server_ciphers   on;
  ssl_session_cache shared:SSL:2m;
  ssl_dhparam /etc/ssl/certs/dhparam.pem;

  access_log /var/log/nginx/{{root_domain_name}}.access.log;
  error_log /var/log/nginx/{{root_domain_name}}.error.log info;

  client_max_body_size 50m;

  keepalive_timeout 5;

  add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

  # nginx should serve up static files and never send to the WSGI server
  location /static {
    autoindex on;
    alias {{app_code_dir}}/{{staticfiles_dir}};
  }

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    if (!-f $request_filename) {
      proxy_pass http://app_server_djangoapp;
      break;
    }
  }
}
